{{#*inline "nav"}}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Accueil</a>
        </li>
    </ul>
{{/inline}}
{{#*inline "content"}}
<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="accueil">
        <div class="w-100">
            <h2 class="mb-0">error_404</h2>
            <p class="lead mb-5"><a href="/">Revenir à la l'accueil !<a></p>
        </div>
    </section>
{{/inline}}
{{~> (parent)~}}
